div {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Main {
    font-weight: bold;
}

a {
    text-decoration: none;
}

button {
    font-size: 20px;
}

.box {
    display: flex;
}

.first {
    width: 300px;
    margin-left: 15px;
    font-weight: bold;
}

.back {
    background-color: white;
    width: 800px;
}